.background {
    display: flex;
    background-image: url('../images/Background-opera-speeddials-community-web-simple-backgrounds.jpg');
    width: 100%;
    height: 100%;
}

.home-row-wrapper{
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.top {
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 1fr;
}

.home-col-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.home-col-wrapper > div {
    background: none;
    padding: 1em;
}

.home-col-wrapper > div:nth-child(odd) {
    background: #ddd;
    opacity: 45%;
}

.home-left {
    display: flex;
}

.home-right {
    display: flex;
    overflow-x: unset;
    overflow-y: auto;
}

